body{
  color: aliceblue;
}
  .section-heading {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .order-list {
    list-style-type: none;
    padding: 0;
  }
  
  .order-item {
    height: 200px;
    width: 150px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    padding: 10px;
  }
  
  .order-id {
    font-weight: bold;
  }
  .total-books {
    margin-top: 5px;
  }
  .order-total {
    margin-top: 5px;
  }
  .user-form {
    max-width: 500px;
    margin-top: 20px;
  }
  
  .form-label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
  }
    
  .user-details {
    width: 150px;
    margin: auto;
    margin-top: 20px;
    
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .user-info {
    margin-bottom: 10px;
  }
 
  .container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  
  @media (max-width: 1000px) {
    .container {
      flex-direction: column;
      margin: auto;
    }
  }
  .Userdetails{
    align-items: center;
    width: 25%; 
    margin-top: 1rem;
  }
  .order{
    width: 30%;
    margin: 0 ;
  }
  
  .Userdetails,.order{
    flex: 1;
  }
  
  .card-home {
    margin: auto;
    color: #ccc;
    min-width: 250px;
    width: 25rem;
    height: 280px;
    background-color: rgba(33, 33, 33, 0.8);
    box-shadow: 15px 15px 30px #191919,
                 -15px -15px 30px #292929;
    transition: border-radius cubic-bezier(0.075, 0.82, 0.165, 1) 1s,
                 transform cubic-bezier(0.075, 0.82, 0.165, 1) 1s;
   }
   
   .card-home:hover {
    border-bottom-right-radius: 50px;
    border-top-left-radius: 50px;
    transform: scale(1.05);
   }
   .card-home-order {
    margin: auto;
    margin-top: 2rem;
    color: #ccc;
    min-width: 200px;
    width: 25rem;
    height: 150px;
    background-color: rgba(33, 33, 33, 0.8);
    box-shadow: 15px 15px 30px #191919,
                 -15px -15px 30px #292929;
    transition: border-radius cubic-bezier(0.075, 0.82, 0.165, 1) 1s,
                 transform cubic-bezier(0.075, 0.82, 0.165, 1) 1s;
   }
   
   .card-home-order:hover {
    border-bottom-right-radius: 50px;
    border-top-left-radius: 50px;
    transform: scale(1.05);
   }
   